

@{

    var header = "/Views/Components/_Header.cshtml";


}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - W02</title>

   @* @Html.Partial("/Components/_ScriptsAndCss.cshtml")   alttakiyle üstteki aynı*@

    <partial name="/Components/_ScriptsAndCss.cshtml"/>
    
</head>
<body>

    <partial name="@header" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @Html.Partial("/Components/_Footer.cshtml")

   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
